:root {
    --landing-bg-color: #ffffff;
    --landing-fg-color: #ffffffcc;
    --landing-border-color: #c4c4c4;
}

html, body {
    background: var(--landing-bg-color);
}


@media screen and (prefers-color-scheme: dark) {
    :root {
        --landing-bg-color: #191919;
        --landing-fg-color: #2925257a;
        --landing-border-color: #2f5066;
    }
}