<footer class="wip-banner">
    <p class="large">🚧 Work In Progress 🚧</p>
    <p class="extra">I'm building out this site in conjunction with my new <a href="http://github.com/SuperSwiftDev/WebCompiler">static site compiler</a>.</p>
</footer>

<style>
footer.wip-banner {
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    border: 0.5px solid;
    border-color: var(--landing-border-color);
    background-color: var(--landing-fg-color);
    color: #5f4c4c;
    margin: 0 var(--landing-margin-length);
    margin-top: auto;
    padding: 0.5rem;
}

footer.wip-banner p {
    color: inherit;
}

footer.wip-banner p.large {
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(1.5rem, 2vw + 1.0rem, 4rem);
    white-space-collapse: break-spaces;
}

footer.wip-banner p.extra {
    text-align: center;
    font-size: 1rem;
}

@media screen and (prefers-color-scheme: light) {
    footer.wip-banner p.large {
        opacity: 0.7;
    }
}

@media screen and (prefers-color-scheme: dark) {
    footer.wip-banner {
        color: #adacac;
    }
}
</style>
