<footer class="wip-banner">
    <p class="large" style="font-size: clamp(2rem, 5vw + 0.5rem, 2rem);">🚧 Work In Progress 🚧</p>
    <p class="extra">I'm building out this site in conjunction with my new <a href="http://github.com/SuperSwiftDev/WebCompiler">static site compiler</a>.</p>
</footer>

<style>
footer.wip-banner {
    border-top: 0.5px solid;
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    border: 1px solid;
    border-color: var(--landing-border-color);
    background-color: var(--landing-fg-color);
    color: #5f4c4c;
    margin: 0.5rem;
    margin-top: auto;
}

footer.wip-banner p {
    color: inherit;
}

footer.wip-banner p.large {
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
}

footer.wip-banner p.extra {
    text-align: center;
    font-size: 1rem;
}

@media screen and (prefers-color-scheme: dark) {
    footer.wip-banner {
        color: #adacac;
    }
}
</style>
