h1, h2, h3, h4, h5, h6 {
    color: #363636;
}

strong {
    color: #00b5ff;
}

ol, ul {
    margin: 0;
}

header.landing {
    margin-bottom: 10px;
    background: #4b4b4b;
    color: #fff;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

header.landing p.tagline {
    margin: 10px 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 100;
    border-top: 1px solid #000;
    padding-top: 10px;
}

header.landing > * {
    padding: 0px 10px;
}

body > img.feature {
    border-radius: 1em;
    max-width: 100%;
    padding: 10px;
}

header.landing h1, header.landing h2, header.landing h3, header.landing h4, header.landing h5, header.landing h6 {
    color: inherit;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    font-weight: 500;
    /* padding: 2px 2px;
    border-left: 2px solid #acacac;
    margin-left: 8px; */
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main section {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border-left: 2px solid #787878;
    margin-left: 5px;
    padding-left: 5px;
}

div.gallery {

}

div.gallery > img {
    border-radius: 1em;
    max-width: 100%;
    padding: 0;
    border: 0.5px solid #6c6c6c;
    box-shadow: 0 0 3px 0px #686868;
    margin: 0 auto;
    display: block;
}

body > footer.work-in-progress {
    border-top: 1px solid #000;
    margin-top: 10px;
    padding: 20px;
    background: #ffe8e875;
}

body > footer.work-in-progress > .title {
    text-align: center;
}

@media (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
    header.landing {
        color: #fff;
        background: #141414;
    }
}
