h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, li, a, address, blockquote, td, th, input, textarea, label, button {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 { font-size: 3.5rem; }
h2 { font-size: 3.0rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2.0rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.0rem; }

a {
    color: #000;
}

@media (prefers-color-scheme: dark) {
    h1, h2, h3, h4, h5, h6, p, li, a, address, blockquote, pre, code, td, th, input, textarea, label, button {
        color: #fff;
    }
    input, textarea {
        background-color: #474747;
        border: 1px solid #000000;
    }
    button {
        background-color: #474747;
        border: 1px solid #000000;
    }
}


