<header class="main">
    <h1 class="me">Colbyn Wadman</h1>
    <p class="tagline">
        I specialize in building custom tools and utilities — but I’ve tackled a wide range of problems beyond that
    </p>
    <div class="tags">
        <p class="badge">Native iOS/macOS apps</p>
        <p class="badge">Web dev</p>
        <p class="badge">Dev tools</p>
    </div>
</header>

<div class="contact">
    <p class="badge xlarge"><code>hello@colbyn.com</code></p>
    <p class="badge xlarge"><a href="https://colbyn.com"><code>colbyn.com</code></a></p>
    <p class="badge xlarge"><code>801-367-4487</code></p>
</div>

<article class="newspaper">
    <include src="./resume/info-sections.html"></include>
    <include src="./resume/year-overview-sections.html"></include>
</article>
