/* ========================================================================= */
/* COMPONENTS */
/* ========================================================================= */

.badge {
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    padding: 0 4px;
    font-weight: 100;
}

.badge * {
    color: inherit;
}

.xlarge {
    padding: 10px;
}


.tagset-header {
    color: #262626;
    font-weight: 100;
    font-size: 1.2em;
    text-transform: uppercase;
}

.tagset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 5px;
    
    break-before: avoid;
    break-inside: avoid;
    orphans: 2;
    widows: 2;

    /* Add these to help Chrome/WebKit behave */
    page-break-before: avoid;
    -webkit-column-break-before: avoid;
}

.tagset .tag {
    border: 1px solid #e3e3e3;
    color: #262626;
    border-radius: 3px;
    padding: 0 4px;
    font-weight: 100;
    white-space:nowrap;
    display: inline-flex;
}
