/* ========================================================================= */
/* PRINT MEDIA STYLING */
/* ========================================================================= */

@page {
    margin: 0.5in; /* or use mm, cm, em, etc. */
}

/* ========================================================================= */
/* MAIN */
/* ========================================================================= */

header.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header.main h1.me {
    text-align: center;
    font-weight: 700;
    font-size: 2.5em;
    color: #242424;
}
header.main p.tagline {
    font-weight: 200;
    font-size: 1.2em;
    color: #525252;
    text-align: center;
    padding: 10px 0;
}


div.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #cccccc;
    border-left: none;
    border-right: none;
    padding: 10px;
    margin: 10px 0;
}

p {
    padding: 0;
    margin: 0;
}

div.tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
div.tags p {
    font-weight: 100;
    color: #525252;
    font-size: 1.2em;
}

header .tags .tag {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* ========================================================================= */
/* MAIN FOOTER */
/* ========================================================================= */

footer.main {
    padding: 20px;
    border-top: 1px solid #898989;
    margin-top: 20px;
    text-align: center;
}

/* ========================================================================= */
/* MAIN LAYOUT */
/* ========================================================================= */

article.newspaper {
    column-count: 2;
    column-rule: 1px dashed #00a2ff66;
    column-gap: 3em;
}

section.year-overview {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.event {
    border-left: 2px solid #00b4ff6e;
    padding-left: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

section.note {
    break-inside: avoid-column;
}


section.year-overview h1,
section.year-overview h2,
section.year-overview h3,
section.year-overview h4,
section.year-overview h5,
section.year-overview h6 {
    break-after: avoid;
    break-inside: avoid;
    orphans: 2;
    widows: 2;

    /* Add these to help Chrome/WebKit behave */
    page-break-after: avoid;
    -webkit-column-break-after: avoid;
}


