<!-- * REMOTE * -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">

<!-- * LOCAL * -->

<style>
    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }
</style>

<script type="application/ld+json">
[
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Colbyn Wadman",
        "url": "https://colbyn.com",
        "sameAs": [
            "https://github.com/colbyn",
            "https://www.youtube.com/@colbyn-wadman"
        ],
        "jobTitle": "Software Developer",
        "knowsAbout": [
            "Rust", "Swift", "HTML", "CSS", "JavaScript", "Compilers", "Functional Programming"
        ]
    },
    {
        "@context": "https://schema.org",
        "@type": "ProfilePage",
        "name": "Colbyn Wadman's Developer Profile",
        "description": "Portfolio and contact info for Rust/Swift developer Colbyn Wadman",
        "mainEntity": {
            "@type": "Person",
            "name": "Colbyn Wadman"
        }
    }
]
</script>

<link rel="stylesheet" href="./typography.css">
<link rel="stylesheet" href="./layout.css">
