<title>Colbyn Wadman – Systems‑oriented Software & Tooling</title>
<meta name="description" content="Colbyn Wadman's personal websites">

<meta property="og:type" content="website">
<meta property="og:title" content="Colbyn Wadman">
<meta property="og:description" content="Deep‑tech projects in ML image coding, custom note‑tools, compilers, and functional type systems.">
<meta property="og:url" content="https://colbyn.com/">

<!-- Theme color -->
<!-- <meta name="theme-color" content="#f4b400" /> -->
