<document>
<document-head>
    <inject hoisted></inject>
    <title>My Site</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
            box-sizing: border-box;
        }

        *, *::before, *::after {
            box-sizing: border-box;
        }
    </style>
    <link rel="stylesheet" href="../styling/base.css">
    <link rel="stylesheet" href="../styling/typography.css">
    <link rel="stylesheet" href="../styling/common.css">
</document-head>
<document-body>
    <content></content>
</document-body>
</document>
