/* html, body {
    overflow-x: hidden;
    position: relative;
} */

img {
    overflow: auto;
}

blockquote {
    border-left: 2px solid #20202082;
    padding-left: 8px;
}

hr {
    border: 1px solid #000;
}

h1.center, h2.center, h3.center, h4.center, h5.center, h6.center, p.center {
    text-align: center;
}

h1.bordered, h2.bordered, h3.bordered, h4.bordered, h5.bordered, h6.bordered {
    border-bottom: 2px solid #000;
    border-top: 1px solid #000;
    margin-bottom: 10px;
    padding: 10px 0;
}

@media (prefers-color-scheme: dark) {
    html, body {
        background-color: #1d1d1d;
    }
    img[data-auto-dark-mode="invert"] {
        filter: invert(1);
    }
    blockquote {
        border-left: 2px solid #77777782;
    }
}
