h1 { font-size: 3.0rem; }
h2 { font-size: 2.5rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.2rem; }
h5 { font-size: 1.0rem; }
h6 { font-size: 0.8rem; }
p { font-size: 1.0rem; }

ul {
    margin: 0;
}

p {
    margin: 0;
}

main {
    margin-bottom: 100px;
}

main > h1.title {
    text-align: center;
    border: 1px solid #4d4d4d;
    border-radius: 0.2em;
    margin: 10px;
    font-weight: 100;
    color: #4d4d4d;
    text-transform: uppercase;
}

article {
    border-left: 1px solid #000;
    margin-left: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10px;
}

.note {
    background: #00ffae82;
    border-radius: 1rem;
    border: 0.8px solid #ffffff;
    box-shadow: 0 0 3px 0px #000000ab;
    margin: 0;
    padding: 0;
}

.note > .title {
    text-align: center;
    border-bottom: 0.5px solid #000;
    margin-bottom: 5px;
    padding: 10px 0px;
    font-weight: 200;
    text-transform: uppercase;
}

.note > p {
    margin: 10px;
}

main > header {
    border-bottom: 1px solid #ffffff;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background: #fff7df;
    box-shadow: 0 0 1px 0px #000;
}
